@import url(common.css);

html{
  /*font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;*/
  font-family: "arial";
    /*background-image: url(../images/header.png);*/
  /*background: url(header.png) no-repeat center center fixed; */
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    /*max-width: 500px;*/
  margin: 2px solid red;/*canh le ben ngoai cho tat ca thanh phan bao nhieu px*/
  padding: 2px 0;/*canh le ben trong thanh phan*/
}


body {
  background-color:#dee;
  /*font-size: 22px;*/
  color: #222;
 background-image:url();

}

footer p {
  margin-bottom: 0;
  padding: 14px 0 14px 0;
  background-image: url(../images/footer_bg1.png);
  background-repeat: repeat-x;
  text-align: center;
}

a:link, a:visited {color: #844;}
a:hover {color: #faa;}
p,form {
  margin: 0;
  padding: 4px 0;/*canh le ben trong thanh phan*/
}
h2 {
  margin: 10px 0;
  padding: 0;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  font-weight: bold;
  color: #111;
    /*border: 2px solid #603;/*khung bao vien*/*/
   background-color:#b5e;


}
h5 {
  margin: 10px 0;
  padding: 0;
  font-weight: bold;
  text-align: center;
  font-weight: bold;
  color: #111;
    /*border: 2px solid #603;/*khung bao vien*/*/
   background-color:#b5e;


}
/*footer{
            background-color:#ddd;
            font-size:18px;
            text-align:center;
            padding:15px;
                position:absolute;
              bottom: 0px;
        }*/
table {
    padding: 0;
  border-collapse: collapse;

}
.maintable{
width: 1200px; 
/*text-align: center;*/
  margin: 15px auto;
  padding: 0;
  background-color: #89cfef;
  border-collapse: collapse;
}
.table{
  width: 700px;
   font-size: 12px;
    position:absolute;
  left: 8%;
}
th {
  
}
td{
    background-color: #99efef;

}
.calendar{
  width: 500px;
  height: 500px;
   font-size: 9px;
    position:absolute;
  right: 0%;
  background-color: #ee5555;
}
.mess{
  width: 450px;
   font-size: 9px;
    position:absolute;
  right: 0%;
  background-color: #ee5555;
}

.messpos{
      position:absolute;
  right: 13%;
}
.center{
  text-align: center;
}


th, td {
  margin: 0;
  /*padding: 6px 16px;*/


  border-bottom: 3px solid #bab;
}
.goods {
  font-weight: bold;
}
.shinki{
  font-size: 12x;

  margin: 15px auto;
  padding: 10px;
  background-color: #89cfef;
  border-collapse: collapse;
  position:absolute;
  left: 20%;
}
.base {
  width: 480px; 
  margin: 15px auto;
  padding: 10px;
  background-color: #eee;
}
.but{
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btnfocus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.in{
  position:absolute;
  top:100px;
  left: 3%;
}
.checkbutin{
   position:absolute;
  top:290px;
  left: 3%;

}
.butsize{
   height:40px ;
    width: 150px;
    text-align: center;
    font-size: 22px;
}
.radius{
        /*border: 2px solid #bbc5b1;*/
        -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}
.barcodein{
    background-color: #55c555;
 
    position:absolute;
    left:20px;
    height:40px ;
    width: 200px;
    text-align: center;
    font-size: 22px;
}
.barcodein2{
    background-color: #55c555;
    position:absolute;
    left:230px;
    height:40px ;
    width: 80px;
    text-align: center;
    font-size: 22px;
}
.border{
    /*clear: both;*/
  background-color: #b8c5b1;
  position: absolute;
        width: 670px;
        height: 170px;
        border: 1px solid #b8c5b1;
        -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    /*margin: 5px;*/
        padding: 10px;
}
.login{
    /*clear: both;*/
  background-color: #b8c5b1;
  position: absolute;
        width: 670px;
        height: 190px;
        border: 1px solid #b8c5b1;
        -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    /*margin: 5px;*/
        padding: 10px;
            text-align: center;
            left:28%;
            /*top :800px;*/

}
.lcontent{
    /*clear: both;*/
  background-color: #89cfef;
  position: absolute;
        width: 700px;
        height: 370px;
        border: 1px solid #5dc183;
        -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    /*margin: 5px;*/
        padding: 5px;
}

.top{
  /*border: 3px solid red;*/
  height: 3px;
  width: 350px;
  /*background-color: blue;*/
  position:fixed;
left:60%;

}
.top1, .top2, .top3, .top4{
  font-size: 25px;

  border: 1px solid red;
  width: 50px;
  height: 40px;
    background-color: green;


} 
.top1{
  /*position:absolute;*/
background-color: #0cf;  
}
.top2{
  /*position:absolute;*/
background-color: #6c9;  
}.top3{
  /*position:absolute;*/
background-color: #fc0;  
}.top4{
  /*position:absolute;*/
background-color: #0cf;  
}

ul#menu, ul#menu ul#sub {
    padding:0;
    margin: 0;
}
ul#menu li {
     list-style-type: none;    /* code này để bỏ các dấu chấm tròn*/
     float: left;    /* code này để menu dàn hàng ngang*/
     margin-right: 0px;    /* tạo lề cho các menu*/
}
ul#menu li a {
text-decoration: none;
background-color: #900;
padding: 5px;
color: white;
}
ul#menu li {
positon: relative;
}
ul#menu li ul#sub {
display: none;
position: absolute;
width: 50px;
}
ul#menu li ul#sub li {
margin-top: 10px;
margin-bottom: 5px;
}
ul#menu li:hover ul#sub {
display: block;
}
ul#menu li {
positon: relative;
} 
ul#menu li ul#sub {
display: none;
position: absolute;
width: 100px;
}
ul#menu, ul#menu ul#sub {
    padding:0;
    margin: 0;
}